* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: rgb(245, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background: rgb(109, 109, 154);
}
.look:hover {
  background: rgb(109, 109, 154);
}
.calculator {
  width: 500px;
  height: 600px;
  border-radius: 12px;
  background: rgb(171, 155, 155);
  overflow: hidden;
}
form input {
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 12px;
  font-size: 2rem;
  padding: 1rem;
  color: white;
  background: black;
  text-align: right;
}
button {
  flex: 0 0 22%;
  margin: 5px 0;
  border: 1px solid rgb(58, 55, 55);
  width: 60px;
  height: 52px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.yellow {
  background-color: rgb(224, 188, 26);
  color: white;
}
.green {
  background-color: rgb(148, 213, 223);
  color: white;
}

.clear {
  background-color: rgb(174, 37, 37);
  color: white;
}

.equal {
  background-color: rgb(30, 97, 10);
  color: white;
}
